

/*////////////////////////////////////////
// App styles 
////////////////////////////////////////*/

.mobile_only { display: none; }
.desktop_only { display: block; }

.module_container_mob.hotspot_banner.mobile_only { display: none; }
.module_container.hotspot_banner.desktop_only { display: block; }

.app_container,
.container {
  display: block;
  width: auto;
  max-width: 960px;
  height: auto;
  margin: 0 auto;
}

.module_container {
  margin-bottom: 24px;
}

.module_container_mob {
  max-width: 767px;

}

.content_module_has_mobile_image img,
.module_container_mob  img {
  display: block;
  width: 100%;
  height: auto;
}

.wrap_form {
  padding: 20px;
  margin-top: 20px;
  background: #ededed;
  overflow: hidden;
}

.input_wrap {
  padding: 10px 2px;
}

input {
  width: 100%;
}

.form_ui{
  width: 100%;
  float: left;  
}

#code  {
  display: block;
  height: auto;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

pre {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
  color: black;
  white-space: pre-wrap;  
  white-space: -moz-pre-wrap !important; 
  white-space: -pre-wrap;                
  white-space: -o-pre-wrap;             
  word-wrap: break-word;                
}

h4.header {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  color: #555;
}

h4.header:after {
  position: absolute;
  top: 6px;
  left: 0;
  content: '';
  display: block;
  width: 0; 
  height: 0; 
  border-top: 7px solid #333;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
}

h4.header:hover {
  color: black;
}

h4.header.active:after {
  top: 2px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #333;
  border-right:0;
}

.collapsable_panel.hide {
  display: none;
}


/*/ Styles for the banner preview
///////////////////////////////*/

.wrapper_link {
  display: block;
  width: 100%;
  height: auto;
}

.hotspot_banner {
  width: 100%;
  height: auto;
}



 #hotspot_wrapper,
 #hotspot_wrapper_mob {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}



#hotspot_area,
#hotspot_area_mob  {
  display: block;
  width: 300px;
  height: 60px;
  background: rgba(0,0,0,0.5);

  position: absolute;
  top:0;
  right:0;
}

/* Mobile preview banner */








@media (max-width: 767px) {
  .mobile_only { display: block; }
  .desktop_only { display: none; }

  .module_container_mob.hotspot_banner.mobile_only { display: block; }
  .module_container.hotspot_banner.desktop_only { display: none; }

  .app_container { background: red; }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }



}